form 
{
    margin-top: 2vh;
}
.btn
{
    width: 20%;
    display: block;
    margin: auto;
    height: 6vh;
}
input
{
    height: 5vh;
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid blanchedalmond;
    background-color: black;
    color: crimson;
    font-size: 25px;
}
input:focus
{
    outline: none;
    border-bottom: 2px solid crimson;
    font-size: 25px;
    color: blanchedalmond;
}
::placeholder
{
    color: whitesmoke;
    font-size: 25px;
}